@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>
@if (Model.Count == 0)
{
    <h2>No movies</h2>
}
else
{
    <table>
        <tr>
            <th>
                Movie
            </th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@movie.Name,    "Details",  "Movies", new{ id = @movie.Id}, null)
                </td>
            </tr>
        }
    </table>
}


